* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #323853;
  --secondary-color: #f4f4f4;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-color);
}

.container {
  max-width: 1275px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2.5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 230px;
  padding: 30px 20px;
  border: 3px solid var(--primary-color);
}

form .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 3rem;
}

form .inputs .level-1,
form .inputs .level-2 {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

form label {
  display: flex;
  justify-self: start;
  margin-bottom: 0.5rem;
}

.initial-amount,
.contribution,
.years,
.interest-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  font-size: 1.1rem;
  gap: 5px;
  font-weight: 600;
  color: var(--secondary-color);
}

input[type="number"] {
  width: 275px;
  padding: 10px;
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--primary-color);
  border: none;
  border-radius: 7px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.buttons input[type="submit"],
.buttons input[type="reset"] {
  width: 17.5rem;
  padding: 15px 20px;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: var(--secondary-color);
  padding: 4rem;
  border-radius: 5px;
  z-index: 10;
}

.modal h2 {
  margin-bottom: 0.75rem;
}

#result {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  white-space: pre; /* Use for textContent line breaks */
}

#result {
  color: var(--primary-color);
}

.hidden {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  form .inputs {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .calculator {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  form .inputs {
    gap: 0;
    justify-content: space-between;
  }

  form .inputs .level-1,
  form .inputs .level-2 {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 20px;
    margin: 1rem 0;
    line-height: 1.2;
  }

  form .inputs {
    margin-bottom: 0;
  }

  .buttons {
    gap: 10px;
  }
}

@media (max-width: 380px) {
  .heading {
    font-size: 1rem;
  }

  form label {
    margin-bottom: 0;
  }

  .input[type="number"] {
    padding: 5px;
  }

  .buttons {
    margin-bottom: 0;
  }
}
